.field{
    width:300px;
}

.card{
    width: 60px;
    margin-left: 500px;
}

.card h3{
    text-align: center;
}

.container{
    background-image: url("../../../assets/createaccount.jpg");
    background-size: cover;
    height: 100%;

    
}

.center-icon {
    
    margin-left:120px;
  }

  .my-icon {
  font-size: 26px;
}

  

