<div class="img">
<div class="container">
    <h1>WELCOME</h1>
</div>

<div class="button">
<button mat-raised-button color="primary" [routerLink]="['/create']" routerLinkActive="router-link-active">CREATE ACCOUNT</button>&nbsp;
<button  mat-raised-button color="primary" [routerLink]="['/delete']" routerLinkActive="router-link-active">DELETE ACCOUNT</button>&nbsp;
<button  mat-raised-button color="primary" [routerLink]="['/viewbalance']" routerLinkActive="router-link-active">VIEW BALANCE</button>&nbsp;
<button  mat-raised-button color="primary" [routerLink]="['/deposit']" routerLinkActive="router-link-active">DEPOSIT AMOUNT</button>&nbsp;
<button  mat-raised-button color="primary" [routerLink]="['/withdraw']" routerLinkActive="router-link-active">WITHDRAW AMOUNT</button>&nbsp;
<button  mat-raised-button color="primary" [routerLink]="['/transfer']" routerLinkActive="router-link-active">TRANSFER AMOUNT</button>&nbsp;
</div>
</div>